* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #F3F4F6;
}

.header {
    background: #4338CA;
    color: white;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 16px 20px;
}

.left {
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
}

.right {
    display: flex;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    align-items: center;
    gap: 8px;
}

.right select{
    background: #4338CA;
    border: 1px solid #4338CA;
    color: #ffffff;
}

.banner {
    width: 768px;
    height: 124px;
    margin: 24px 200px;
    padding: 20px;
    text-align: center;
    color: white;
    background: #4F46E5;
    border-radius: 12px;
    box-shadow: 0 8px 16px #00000026;
}

.banner h2 {
    font-weight: 500;
    margin-top: 13px;
    margin-bottom: 8px;
    font-size: 24px;
    font-weight: 400;
}

.banner p {
    font-size: 14px;
    opacity: 0.9;
}

footer {
    background: #4338CA;
    color: white;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    height: 68px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px 208px;
}

.dashboard-title {
    text-align: left;
    color: #4F46E5;
    margin: 30px 400px;
    font-weight: 400;
    font-size: 30px;
}

.card {
    background: white;
    padding: 20px;
    margin-bottom: 16px;
    margin-left: 200px;
    border-radius: 12px;
    text-align: center;
    width: 768px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.08);
}

.card label {
    margin-right: 10px;
    color: #6B7280;
    font-weight: 400;
    font-size: 13px;
}

.card input {
    padding: 12px 15px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

.card input::placeholder {
    color: #9CA3AF;
    font-size: 16px;
}

.budget {
    display: flex;
    align-items: center;
    text-align: center;
    gap: 10px;
}

.center {
    text-align: center;
    color: #6B7280;
}

.money {
    color: #22C55E;
    margin-top: 8px;
    font-size: 24px;
    font-weight: 400;
}

.category-form {
    display: flex;
    gap: 10px;
    margin: 10px 0;
}

.category-list {
    list-style: none;
}

.category-list li {
    padding: 8px 0;
    border-bottom: 1px solid #eee;
    display: flex;
    justify-content: space-between;
}

.category-list span {
    color: red;
    cursor: pointer;
}

.btn-primary {
    background: #3B82F6;
    color: white;
    border: none;
    padding: 12px 24px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    margin-left: 15px;
}

.btn-success {
    background: #22C55E;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 6px;
    cursor: pointer;
}

.container {
    display: flex;
}

.sidebar {
    width: 200px;
    min-height: 100vh;
    background: #F3F4F6;
    padding: 10px 20px;
}

.sidebar a {
    border: 1px solid #4338CA;
    display: flex;
    gap: 10px;
    padding: 12px;
    margin: 8px 0;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
    background: #FFFFFF;
    color: #000000;
    border-radius: 8px;
}

.sidebar a p {
    margin: 2px auto;
}

.sidebar a.active {
    background: #4338CA;
    color: white;
}

.content {
    flex: 1;
    padding: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    text-align: center;
}

.profile-card {
    background: #F3F4F6;
    padding: 5px;
    margin-bottom: 16px;
    margin-left: 200px;
    text-align: center;
    width: 768px;
}

.profile-title {
    color: #4F46E5;
    margin-bottom: 15px;
    font-size: 30px;
    font-weight: 400;
    text-align: center;
}

.profile-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}

.form-group {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.form-group label {
    font-size: 13px;
    margin-bottom: 5px;
    color: #6B7280;
}

.profile-actions {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.btn-outline {
    border: 2px solid #4F46E5;
    color: #4F46E5;
    background: #F4F2FD;
    font-weight: bold;
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 8px;
    width: 370px;
    cursor: pointer;
}

.btn-outline:hover {
    background: #4F46E5;
    color: white;
}

.profile-card input {
    padding: 12px 15px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

.history-form {
    display: flex;
    gap: 10px;
}

.history-form input {
    flex: 1;
    background-color: #FFFFFF;
    border: 1px solid #DEE2E6;
}

.history-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.history-form select {
    flex: 1;
    padding: 12px 15px;
    border-radius: 6px;
    background-color: #EFEFEF;
    border: 1px solid #DEE2E6;
    color: #212529;
    font-size: 16px;
    font-weight: 400;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.history-actions {
    display: flex;
    gap: 10px;
}

.btn-sort {
    background: #E5E7EB;
    border: none;
    padding: 8px 12px;
    border-radius: 6px;
    cursor: pointer;
}

.btn-search {
    background: #4338CA;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 6px;
    cursor: pointer;
}

table td:last-child {
    cursor: pointer;
}

.pagination {
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-top: 15px;
}

.pagination button {
    padding: 6px 10px;
    border: 1px solid #ddd;
    background: white;
    cursor: pointer;
    border-radius: 5px;
}

.pagination button.active {
    background: #4338CA;
    color: white;
}

.category-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    margin-top: 15px;
}

.category-item {
    background: #fff;
    border: 1px solid #E5E7EB;
    border-radius: 10px;
    padding: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cat-left {
    display: flex;
    align-items: center;
    gap: 10px;
}

.icon {
    font-size: 24px;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 8px;
}

.cat-name {
    font-weight: 500;
}

.cat-money {
    font-size: 13px;
    color: #9CA3AF;
}

.cat-actions {
    display: flex;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
}

.warning {
    color: orange;
    display:none;
    margin-top: 20px;
    font-size: 20px;
}

.popup {
    position: fixed;
    inset: 0;
    background: rgba(30, 41, 59, 0.6); /* nền tối giống ảnh */
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.modal {
    width: 480px;
    background: #f9fafb;
    border-radius: 10px;
    padding: 20px 24px;
    box-shadow: 0 15px 40px rgba(0,0,0,0.25);
    animation: fadeIn 0.25s ease;
}

.modal-header {
    margin-bottom: 10px;
}

.modal-header img{
    width: 62px;
    height: 60px;
}

.modal-body h3 {
    font-size: 18px;
    margin-bottom: 6px;
    color: #111827;
}

.modal-body p {
    font-size: 14px;
    color: #6b7280;
    margin-bottom: 20px;
}

.modal-footer {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    border-top: 1px solid #e5e7eb;
    padding-top: 15px;
}

.btn {
    padding: 8px 18px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    font-size: 14px;
}

.cancel {
    background: #ffffff;
    color: #344054;
    border: 1px solid #D0D5DD;
    width: 62px;
    height: 48px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 500;
    box-shadow: 0 1px 2px rgba(16, 24, 40, 0.051);
}

.cancel:hover {
    background-color: #b1b4bb;
}

.confirm {
    background: #f59e0b;
    color: white;
    width: 62px;
    height: 48px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 500;
    box-shadow: 0 1px 2px rgba(16, 24, 40, 0.051);
}

.confirm:hover {
    background: #d97706;
}

@keyframes fadeIn {
    from {
        transform: scale(0.9);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

@media (max-width: 1024px) {
    .banner,
    .card,
    .profile-card {
        width: 90%;
        margin: 20px auto;
    }

    .dashboard-title {
        margin: 20px;
        text-align: center;
    }

    .container {
        flex-direction: column;
    }

    .sidebar {
        width: 100%;
        display: flex;
        gap: 10px;
        justify-content: center;
        min-height: auto;
    }

    .sidebar a {
        width: auto;
        flex: 1;
    }
}

@media (max-width: 600px) {
    .history-form {
        flex-direction: column;
    }

    .category-grid {
        grid-template-columns: 1fr;
    }

    .profile-form {
        grid-template-columns: 1fr;
    }

    .profile-actions {
        flex-direction: column;
        gap: 10px;
    }

    .btn-outline {
        width: 100%;
    }

    table {
        font-size: 12px;
    }

    .header {
        flex-direction: column;
        height: auto;
        gap: 5px;
    }
}